<div class="bg-img"  [dir]="currentLang === 'ar' ? 'rtl' : 'ltr' ">
    <div class="bg-img" style="background-image: url('assets/bg.jpg');">
    <div class="overlay"></div>
    <div class="content">
      <!-- Language Switcher -->
     
      <img src="assets/logo1.png" alt="" class="logo" routerLink="/" />
      <header>{{ 'forgetPassword.title' | transloco }}</header>
  
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()">
        <!-- Email Field -->
        <div class="field">
          <label for="email" class="sr-only">{{ 'forgetPassword.emailLabel' | transloco }}</label>
          <span class="fa fa-envelope"></span>
          <input
            id="email"
            type="email"
            formControlName="email"
            [placeholder]="'forgetPassword.emailPlaceholder' | transloco"
            [attr.aria-label]="'forgetPassword.emailLabel' | transloco"
            required
          />
          <div *ngIf="isSubmitted && fc['email'].invalid" class="error">
            {{ 'forgetPassword.errors.invalidEmail' | transloco }}
          </div>
        </div>
  
        <!-- Submit Button -->
        <div class="field">
          <input 
            type="submit" 
            [value]="'forgetPassword.submitButton' | transloco" 
          />
        </div>
      </form>
    </div>
  </div>
</div>