<div class="courses-page">
    <app-student-header></app-student-header>

    <div class="navbar-spacer"></div>

    <div class="course-manager">
      <div class="tables-container">
        <div class="table-container">
          <h3 class="table-title">{{ 'faculty.compulsorySubjects' | transloco }} (63 {{ 'common.hours' | transloco }})</h3>
          <table class="course-table">
            <thead>
              <tr>
                <th>{{ 'common.code' | transloco }}</th>
                <th>{{ 'common.courseName' | transloco }}</th>
                <th>{{ 'common.hours' | transloco }}</th>
                <th>{{ 'common.prerequest' | transloco }}</th>
                <th>{{ 'common.grade' | transloco }}</th>
                <th>{{ 'common.action' | transloco }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of coreCourses" [class.disabled]="!canTakeCourse(course)">
                <td>{{ course.code }}</td>
                <td>
                    <ng-container *ngIf="currentLang === 'en'">{{ course.course_Name_en }}</ng-container>
                    <ng-container *ngIf="currentLang === 'ar'">{{ course.course_Name_ar }}</ng-container>
                </td>
                <td>{{ course.hours }}</td>
                <td>
                    <ng-container *ngIf="currentLang === 'en'">{{ course.prerequest_en || ('common.none' | transloco) }}</ng-container>
                    <ng-container *ngIf="currentLang === 'ar'">{{ course.prerequest_ar || ('common.none' | transloco) }}</ng-container>
                </td>
                <td>
                    <select
                    [(ngModel)]="course.grade"
                    [disabled]="!canTakeCourse(course) || !showAddButtonMap[course.code]"
                    title="Select grade for {{ course.course_Name_en }}"
                  >
                    <option value="none">{{ 'common.none' | transloco }}</option>
                    <option value="A+">A+</option>
                    <option value="A">A</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
                </td>
                <td>
                  <button
                    *ngIf="showAddButtonMap[course.code]"
                    class="add-button"
                    (click)="addCourse(course)"
                    [disabled]="!canTakeCourse(course) || course.grade === 'none'"
                  >
                    {{ 'common.add' | transloco }}
                  </button>
                  <span *ngIf="!showAddButtonMap[course.code]">{{ 'common.added' | transloco }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-container">
          <h3 class="table-title">{{ 'faculty.electiveSubjects' | transloco }} (9 {{ 'common.hours' | transloco }})</h3>
          <table class="course-table">
            <thead>
              <tr>
                <th>{{ 'common.code' | transloco }}</th>
                <th>{{ 'common.courseName' | transloco }}</th>
                <th>{{ 'common.hours' | transloco }}</th>
                <th>{{ 'common.prerequest' | transloco }}</th>
                <th>{{ 'common.grade' | transloco }}</th>
                <th>{{ 'common.action' | transloco }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of electiveCourses" [class.disabled]="!canTakeCourse(course)">
                <td>{{ course.code }}</td>
                <td>
                    <ng-container *ngIf="currentLang === 'en'">{{ course.course_Name_en }}</ng-container>
                    <ng-container *ngIf="currentLang === 'ar'">{{ course.course_Name_ar }}</ng-container>
                </td>
                <td>{{ course.hours }}</td>
                <td>
                    <ng-container *ngIf="currentLang === 'en'">{{ course.prerequest_en || ('common.none' | transloco) }}</ng-container>
                    <ng-container *ngIf="currentLang === 'ar'">{{ course.prerequest_ar || ('common.none' | transloco) }}</ng-container>
                </td>
                <td>
                    <select
                    [(ngModel)]="course.grade"
                    [disabled]="!canTakeCourse(course) || !showAddButtonMap[course.code]"
                    title="Select grade for {{ course.course_Name_en }}"
                  >
                    <option value="none">{{ 'common.none' | transloco }}</option>
                    <option value="A+">A+</option>
                    <option value="A">A</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
                </td>
                <td>
                  <button
                    *ngIf="showAddButtonMap[course.code]"
                    class="add-button"
                    (click)="addCourse(course)"
                    [disabled]="!canTakeCourse(course) || course.grade === 'none'"
                  >
                    {{ 'common.add' | transloco }}
                  </button>
                  <span *ngIf="!showAddButtonMap[course.code]">{{ 'common.added' | transloco }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="summary">
        <p class="total-hours">{{ 'faculty.totalHours' | transloco }}: {{ calculateFacultyHours() }} / 72</p>
      </div>
    </div>
  </div>