<div class="bg-img" [dir]="currentLang === 'ar' ? 'rtl' : 'ltr'">
    <div class="bg-img" style="background-image: url('assets/bg.jpg');">
        <div class="overlay"></div>
        <div class="content">
          <!-- Language Switcher -->
         
     <img src="assets/logo1.png" alt="" class="logo" routerLink="/" />
      <header>{{ 'resetPassword.title' | transloco }}</header>
  
      <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
        <!-- New Password Field -->
        <div class="field">
          <label for="password" class="sr-only">{{ 'resetPassword.newPasswordLabel' | transloco }}</label>
          <span class="fa fa-lock"></span>
          <input
            type="password"
            id="password"
            formControlName="password"
            [placeholder]="'resetPassword.newPasswordPlaceholder' | transloco"
            [attr.aria-label]="'resetPassword.newPasswordLabel' | transloco"
            required
          />
          <div *ngIf="isSubmitted && fc['password'].invalid" class="error">
            {{ 'resetPassword.errors.passwordRequired' | transloco }}
          </div>
        </div>
  
        <!-- Confirm Password Field -->
        <div class="field">
          <label for="confirm" class="sr-only">{{ 'resetPassword.confirmPasswordLabel' | transloco }}</label>
          <span class="fa fa-lock"></span>
          <input
            type="password"
            id="confirm"
            formControlName="confirm"
            [placeholder]="'resetPassword.confirmPasswordPlaceholder' | transloco"
            [attr.aria-label]="'resetPassword.confirmPasswordLabel' | transloco"
            required
          />
          <div *ngIf="isSubmitted && fc['confirm'].invalid" class="error">
            {{ 'resetPassword.errors.confirmPasswordRequired' | transloco }}
          </div>
          <div *ngIf="isSubmitted && resetPasswordForm.hasError('notMatching')" class="error">
            {{ 'resetPassword.errors.passwordsNotMatch' | transloco }}
          </div>
        </div>
  
        <!-- Submit Button -->
        <div class="field">
          <input 
            type="submit" 
            [value]="'resetPassword.submitButton' | transloco" 
          />
        </div>
      </form>
    </div>
  </div>
</div>